In [2]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
columns_names= ['user id','item id','rating','timestamp']

In [14]:
df=pd.read_csv('u.data',sep='\t', names=columns_names)

In [15]:
df.head()

   user id  item id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [16]:
movie_titles=pd.read_csv("Movie_Id_Titles")

In [17]:
movie_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [31]:
movie_titles.groupby('title').mean().sort_values(ascending=False).head()

TypeError: sort_values() missing 1 required positional argument: 'by'

In [23]:
df=pd.merge(df,movie_titles,on='title')

KeyError: 'title'

In [21]:
df.head()

   user id  item id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [ ]:
moviemat=df,p